{
	"schemaVersion": 1,
	"flags": {
		"allowCustomUserDisplayNames": false,
		"allowCustomUserAvatars": false,
		"allowCustomPassthroughUserPasswords": false,
		"allowUnauthenticatedPasswordResets": false,
		"forbidRoomCreation": false,
		"forbidEncryptedRoomCreation": false,
		"forbidUnencryptedRoomCreation": false
	},

	"managedCommunityIds": [
	],

	"managedRoomIds": [
	],

	"hooks": [
		{
			"id": "log-everything-via-a-rest-hook",

			"eventType": "afterAnyRequest",

			"matchRules": [
				{"type": "route", "regex": "^/_matrix/client/r0/createRoom"}
			],

			"action": "consult.RESTServiceURL",

			"RESTServiceURL": "http://hook-rest-service:8080/dump",
			"RESTServiceRequestHeaders": {
				"Authorization": "Bearer SOME_TOKEN"
			}
		}
	],

	"users": [
		{
			"id": "@a:matrix-corporal.127.0.0.1.nip.io",
			"active": true,
			"authType": "plain",
			"authCredential": "test",
			"displayName": "User A",
			"joinedCommunityIds": [],
			"joinedRoomIds": [],
			"forbidRoomCreation": false,
			"forbidEncryptedRoomCreation": true
		},
		{
			"id": "@b:matrix-corporal.127.0.0.1.nip.io",
			"active": true,
			"authType": "sha1",
			"authCredential": "a94a8fe5ccb19ba61c4c0873d391e987982fbbd3",
			"displayName": "User B",
			"avatarUri": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==",
			"joinedCommunityIds": [],
			"joinedRoomIds": [],
			"forbidRoomCreation": true
		},
		{
			"id": "@c:matrix-corporal.127.0.0.1.nip.io",
			"active": true,
			"authType": "rest",
			"authCredential": "http://rest-password-auth-service:8080/_matrix-internal/identity/v1/check_credentials",
			"displayName": "User C",
			"joinedCommunityIds": [],
			"joinedRoomIds": [],
			"forbidRoomCreation": false,
			"forbidUnencryptedRoomCreation": true
		}
	]
}
